*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* background-image: linear-gradient(to right, rgb(190, 62, 62) , rgb(70, 69, 26)); */
    
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(rgb(0,0,4,-0.15),rgb(0,0,0,0.85)),url(./pexels-nothing-ahead-3729557.jpg);
    background-size: cover;
    background-position: center;

}
.calculator{
    background: rgb(151, 71, 71);
    padding: 20px ;
    border-radius: 10px;
    border:4px solid black;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(252, 252, 252, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2) ;
    background: transparent;
    font-size: 20px;
    /* background:linear-gradient(rgba(23,34,56) rgba(34,54,78)); */
    cursor: pointer;
    margin: 10px;
    /* border: 2px solid black; */
}
 form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;

}
form input.operator{
    color: rgb(255, 255, 255);

}
.container h1{
    text-align: left;
    margin-right: 101px;
    font-size: 74px;
    color: white;
    font-weight: bolder;
    border: 2px solid black;
    padding: 3px 2px;  
}
/* @media(max-width:700px){

} */